
body{
  font-family: sans-serif;
}
img {
  width: 100%;
}
button {
  background: transparent;
  border: 0;
}
.menu-list li a {
  color: #000;
  margin: 0;
  text-decoration: none;
}
.menu-list li a:hover {
  font-weight: bold;
  color: red;
}
/* reseat */
ul, li {margin:0; padding:0; list-style:none;}

/* Navbar */
.nav-container,
.mall-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 16px 100px;
}
.nav-header {
  display: flex;
  justify-content: flex-end;
}
.login-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0 6px;
}
.login-button svg {
  height: 20px;
}

.nav-logo {
  display: flex;
  justify-content:center;
  margin-bottom: 30px;
}
.nav-logo img {
  width: 100px;
}

.nav-menu-area {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 0 16px;
  /* position: relative; */
}

.nav-menu-area .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 0 10px ; */
}

.mall-container {

}

.search-box {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #000;
  /* position: absolute; */
  /* right: 30px; */
}
.search-box input {
  border: none;
  margin-left: 5px;
}
/* ProductCard */
.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow:hidden;
}
.product-card:hover {
  transform: scale(1.1);
}

.product-card .info {
  display:grid;
  gap: 5px;
  margin: 10px 0;
}
.product-card .choice {
  color: #ffb0b0;
}
.product-card .info .title {

}
.product-card .info .price {
  font-weight: bold;
}
.product-card .info .new-product {
  color: red;
  font-weight: bold;
}
.product-list-container > .row {
  gap: 50px 0;
}
.login-container {
  display: flex;
  justify-content:center;
}

.login-container .login-form {
  width: 400px;
}

.product-detail-container {

}
.product-detail-container .product-detail-img {
  display: flex;
  
}
.product-detail-info > * {

}
.product-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.product-price {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}
.choice {
  font-style:italic;
  
}
/* Navbar 컴포넌트의 CSS 파일 또는 스타일 코드에 추가 */

.mobile-menu-icon,
.btn-close {
  display: none;

}

/* 화면이 768px 이하일 때 모바일 메뉴가 보이게 함 */
@media (max-width: 768px) {
  .nav-header {
    justify-content: space-between;
  }
  .login-button {
    order: 2
  }
  .mobile-menu-icon {
    display:block;
    background: transparent;
    border: 0;
  }
  .mobile-menu-icon svg {
    width: 20px;
    height: 20px;
  }
  .nav-menu-area {
    display: none;
  }

  .mobile-menu-open.nav-menu-area,
  .mobile-menu-open .btn-close  {
    display: block;
  }
  .mobile-menu-open .btn-close {
    border-radius: 50%;
    border: 1px solid red;
    padding: 10px;
    background-color: #e71212;
  }
  .mobile-menu-open.nav-menu-area .nav-logo {
    display: block;
  }
  .search-box {
    display: none;
  }
  .nav-menu-area {
    position: fixed;
    width: 400px;
    height: 100vh;
    left: 0;
    z-index: 10;
    top: 0;
    background: #fff0f0;

    padding: 100px 20px 40px;

  }
  .nav-menu-area .menu-list {
    flex-direction: column;
    background: #fff0f0;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .product-detail-info.col-12 {
    margin-top: 10px;
  }
  .nav-container {
    padding-bottom: 20px;
  }
  .nav-logo {
    margin-top: 20px;
  }
}
